In [1]:
import pandas as pd
import os

In [2]:
cwd = os.getcwd()
data_folder = os.path.join(cwd, "sales_forecasting_data")

df = pd.read_csv(os.path.join(data_folder, "clean_train.csv"))

In [3]:
df.sort_values(['store_nbr', 'item_nbr', 'date'], inplace=True)

In [4]:
df

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,city,state,type_x,cluster,transactions,dcoilwtico,holiday
22270382,111649701,2017-04-07,1,96995,2.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1846.0,52.25,False
23419668,112696044,2017-04-17,1,96995,1.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1750.0,52.62,False
23825867,113101376,2017-04-21,1,96995,2.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1958.0,49.64,True
23935421,113206073,2017-04-22,1,96995,3.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1338.0,48.90,False
24362426,113638799,2017-04-26,1,96995,1.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1862.0,49.22,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36103933,125185373,2017-08-12,54,2116416,1.0,False,GROCERY I,1060,0,El Carmen,Manabi,C,3,903.0,47.59,False
36218061,125291477,2017-08-13,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,Manabi,C,3,1054.0,47.59,False
36314415,125394227,2017-08-14,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,Manabi,C,3,818.0,47.59,False
36485735,125497039,2017-08-15,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,Manabi,C,3,802.0,47.57,True
8597040,98221151,2016-11-27,54,2124052,8.0,True,"LIQUOR,WINE,BEER",1318,0,El Carmen,Manabi,C,3,1034.0,45.66,False

In [5]:
# Add dow and month
df['date'] = pd.to_datetime(df['date'])

df['dow'] = df['date'].dt.dayofweek
df['month'] = df['date'].dt.month

In [6]:
df = df.drop('holiday', axis=1)

In [7]:
df

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,city,state,type_x,cluster,transactions,dcoilwtico,dow,month
22270382,111649701,2017-04-07,1,96995,2.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1846.0,52.25,4,4
23419668,112696044,2017-04-17,1,96995,1.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1750.0,52.62,0,4
23825867,113101376,2017-04-21,1,96995,2.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1958.0,49.64,4,4
23935421,113206073,2017-04-22,1,96995,3.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1338.0,48.90,5,4
24362426,113638799,2017-04-26,1,96995,1.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1862.0,49.22,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36103933,125185373,2017-08-12,54,2116416,1.0,False,GROCERY I,1060,0,El Carmen,Manabi,C,3,903.0,47.59,5,8
36218061,125291477,2017-08-13,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,Manabi,C,3,1054.0,47.59,6,8
36314415,125394227,2017-08-14,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,Manabi,C,3,818.0,47.59,0,8
36485735,125497039,2017-08-15,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,Manabi,C,3,802.0,47.57,1,8
8597040,98221151,2016-11-27,54,2124052,8.0,True,"LIQUOR,WINE,BEER",1318,0,El Carmen,Manabi,C,3,1034.0,45.66,6,11

In [8]:
df['is_weekend'] = df['dow'].isin([5, 6]).astype(int)

In [9]:
df = df.drop('dow', axis=1)

In [10]:
df

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,city,state,type_x,cluster,transactions,dcoilwtico,month,is_weekend
22270382,111649701,2017-04-07,1,96995,2.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1846.0,52.25,4,0
23419668,112696044,2017-04-17,1,96995,1.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1750.0,52.62,4,0
23825867,113101376,2017-04-21,1,96995,2.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1958.0,49.64,4,0
23935421,113206073,2017-04-22,1,96995,3.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1338.0,48.90,4,1
24362426,113638799,2017-04-26,1,96995,1.0,False,GROCERY I,1093,0,Quito,Pichincha,D,13,1862.0,49.22,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36103933,125185373,2017-08-12,54,2116416,1.0,False,GROCERY I,1060,0,El Carmen,Manabi,C,3,903.0,47.59,8,1
36218061,125291477,2017-08-13,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,Manabi,C,3,1054.0,47.59,8,1
36314415,125394227,2017-08-14,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,Manabi,C,3,818.0,47.59,8,0
36485735,125497039,2017-08-15,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,Manabi,C,3,802.0,47.57,8,0
8597040,98221151,2016-11-27,54,2124052,8.0,True,"LIQUOR,WINE,BEER",1318,0,El Carmen,Manabi,C,3,1034.0,45.66,11,1

In [11]:
# Add sale lag
df['sale_lag_1'] = df.groupby(['store_nbr', 'item_nbr'])['unit_sales'].shift(1)
df['sale_lag_7'] = df.groupby(['store_nbr', 'item_nbr'])['unit_sales'].shift(7)

In [12]:
# Add promotion lag
df['promo_lag_1'] = df.groupby(['store_nbr', 'item_nbr'])['onpromotion'].shift(1)
df['promo_lag_7'] = df.groupby(['store_nbr', 'item_nbr'])['onpromotion'].shift(7)

In [13]:
# # Rolling promos
# group_promo = df.groupby(['store_nbr', 'item_nbr'])['onpromotion']
# shifted_promo = group_promo.shift(1).fillna(False).astype(int)

# df['promo_1d_ago'] = shifted_promo
# df['promo_3d_ago'] = shifted_promo.groupby([df['store_nbr'], df['item_nbr']]).transform(lambda x: x.rolling(3).max())
# df['promo_7d_ago'] = shifted_promo.groupby([df['store_nbr'], df['item_nbr']]).transform(lambda x: x.rolling(7).max())
# df['promo_7d_sum'] = shifted_promo.groupby([df['store_nbr'], df['item_nbr']]).transform(lambda x: x.rolling(7).sum())

In [14]:
df

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,city,...,type_x,cluster,transactions,dcoilwtico,month,is_weekend,sale_lag_1,sale_lag_7,promo_lag_1,promo_lag_7
22270382,111649701,2017-04-07,1,96995,2.0,False,GROCERY I,1093,0,Quito,...,D,13,1846.0,52.25,4,0,NaN,NaN,NaN,NaN
23419668,112696044,2017-04-17,1,96995,1.0,False,GROCERY I,1093,0,Quito,...,D,13,1750.0,52.62,4,0,2.0,NaN,False,NaN
23825867,113101376,2017-04-21,1,96995,2.0,False,GROCERY I,1093,0,Quito,...,D,13,1958.0,49.64,4,0,1.0,NaN,False,NaN
23935421,113206073,2017-04-22,1,96995,3.0,False,GROCERY I,1093,0,Quito,...,D,13,1338.0,48.90,4,1,2.0,NaN,False,NaN
24362426,113638799,2017-04-26,1,96995,1.0,False,GROCERY I,1093,0,Quito,...,D,13,1862.0,49.22,4,0,3.0,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36103933,125185373,2017-08-12,54,2116416,1.0,False,GROCERY I,1060,0,El Carmen,...,C,3,903.0,47.59,8,1,1.0,1.0,False,False
36218061,125291477,2017-08-13,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,...,C,3,1054.0,47.59,8,1,1.0,4.0,False,False
36314415,125394227,2017-08-14,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,...,C,3,818.0,47.59,8,0,2.0,3.0,False,False
36485735,125497039,2017-08-15,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,...,C,3,802.0,47.57,8,0,2.0,1.0,False,False
8597040,98221151,2016-11-27,54,2124052,8.0,True,"LIQUOR,WINE,BEER",1318,0,El Carmen,...,C,3,1034.0,45.66,11,1,NaN,NaN,NaN,NaN

In [15]:
lag_cols = ['sale_lag_1', 'sale_lag_7', 'promo_lag_1', 'promo_lag_7']

for col in lag_cols:
    df[col] = df[col].fillna(0)

df.dropna(subset=lag_cols, inplace=True)

In [21]:
df

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,city,...,type_x,cluster,transactions,dcoilwtico,month,is_weekend,sale_lag_1,sale_lag_7,promo_lag_1,promo_lag_7
22270382,111649701,2017-04-07,1,96995,2.0,False,GROCERY I,1093,0,Quito,...,D,13,1846.0,52.25,4,0,0.0,0.0,0,0
23419668,112696044,2017-04-17,1,96995,1.0,False,GROCERY I,1093,0,Quito,...,D,13,1750.0,52.62,4,0,2.0,0.0,False,0
23825867,113101376,2017-04-21,1,96995,2.0,False,GROCERY I,1093,0,Quito,...,D,13,1958.0,49.64,4,0,1.0,0.0,False,0
23935421,113206073,2017-04-22,1,96995,3.0,False,GROCERY I,1093,0,Quito,...,D,13,1338.0,48.90,4,1,2.0,0.0,False,0
24362426,113638799,2017-04-26,1,96995,1.0,False,GROCERY I,1093,0,Quito,...,D,13,1862.0,49.22,4,0,3.0,0.0,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36103933,125185373,2017-08-12,54,2116416,1.0,False,GROCERY I,1060,0,El Carmen,...,C,3,903.0,47.59,8,1,1.0,1.0,False,False
36218061,125291477,2017-08-13,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,...,C,3,1054.0,47.59,8,1,1.0,4.0,False,False
36314415,125394227,2017-08-14,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,...,C,3,818.0,47.59,8,0,2.0,3.0,False,False
36485735,125497039,2017-08-15,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,...,C,3,802.0,47.57,8,0,2.0,1.0,False,False
8597040,98221151,2016-11-27,54,2124052,8.0,True,"LIQUOR,WINE,BEER",1318,0,El Carmen,...,C,3,1034.0,45.66,11,1,0.0,0.0,0,0

In [23]:
df_train = df[(df['date'] >= '2017-01-01') & (df['date'] < '2017-06-19')]
df_validation = df[(df['date'] >= '2017-06-20') & (df['date'] < '2017-07-19')]
df_test = df[(df['date'] >= '2017-07-20')]

In [24]:
df_train

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,city,...,type_x,cluster,transactions,dcoilwtico,month,is_weekend,sale_lag_1,sale_lag_7,promo_lag_1,promo_lag_7
22270382,111649701,2017-04-07,1,96995,2.0,False,GROCERY I,1093,0,Quito,...,D,13,1846.0,52.25,4,0,0.0,0.0,0,0
23419668,112696044,2017-04-17,1,96995,1.0,False,GROCERY I,1093,0,Quito,...,D,13,1750.0,52.62,4,0,2.0,0.0,False,0
23825867,113101376,2017-04-21,1,96995,2.0,False,GROCERY I,1093,0,Quito,...,D,13,1958.0,49.64,4,0,1.0,0.0,False,0
23935421,113206073,2017-04-22,1,96995,3.0,False,GROCERY I,1093,0,Quito,...,D,13,1338.0,48.90,4,1,2.0,0.0,False,0
24362426,113638799,2017-04-26,1,96995,1.0,False,GROCERY I,1093,0,Quito,...,D,13,1862.0,49.22,4,0,3.0,0.0,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29352848,118766608,2017-06-12,54,2108569,1.0,False,GROCERY I,1086,0,El Carmen,...,C,3,781.0,46.10,6,0,4.0,1.0,False,False
29555869,118968556,2017-06-14,54,2108569,1.0,False,GROCERY I,1086,0,El Carmen,...,C,3,731.0,44.79,6,0,1.0,1.0,False,False
29656789,119069208,2017-06-15,54,2108569,5.0,False,GROCERY I,1086,0,El Carmen,...,C,3,672.0,44.47,6,0,1.0,4.0,False,False
29758728,119173719,2017-06-16,54,2108569,1.0,False,GROCERY I,1086,0,El Carmen,...,C,3,754.0,44.73,6,0,5.0,2.0,False,False
29979178,119397756,2017-06-18,54,2108569,2.0,False,GROCERY I,1086,0,El Carmen,...,C,3,1135.0,44.24,6,1,1.0,1.0,False,False

In [25]:
df_validation

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,city,...,type_x,cluster,transactions,dcoilwtico,month,is_weekend,sale_lag_1,sale_lag_7,promo_lag_1,promo_lag_7
30899700,120020245,2017-06-25,1,96995,1.0,False,GROCERY I,1093,0,Quito,...,D,13,517.0,43.24,6,1,1.0,1.0,False,False
30899701,120020245,2017-06-25,1,96995,1.0,False,GROCERY I,1093,0,Quito,...,D,13,517.0,43.24,6,1,1.0,1.0,False,False
30899702,120020245,2017-06-25,1,96995,1.0,False,GROCERY I,1093,0,Quito,...,D,13,517.0,43.24,6,1,1.0,1.0,False,False
31384048,120438173,2017-06-29,1,96995,1.0,False,GROCERY I,1093,0,Quito,...,D,13,1645.0,44.88,6,0,1.0,1.0,False,False
30225718,119501915,2017-06-20,1,99197,13.0,False,GROCERY I,1067,0,Quito,...,D,13,1778.0,43.34,6,0,2.0,4.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33058258,122137473,2017-07-14,54,2113914,8.0,True,CLEANING,3040,0,El Carmen,...,C,3,676.0,46.53,7,0,200.0,2.0,True,False
33163196,122248575,2017-07-15,54,2113914,8.0,True,CLEANING,3040,0,El Carmen,...,C,3,855.0,46.02,7,1,8.0,5.0,True,False
33274577,122360516,2017-07-16,54,2113914,14.0,True,CLEANING,3040,0,El Carmen,...,C,3,920.0,46.02,7,1,8.0,21.0,True,False
33384041,122465026,2017-07-17,54,2113914,12.0,True,CLEANING,3040,0,El Carmen,...,C,3,864.0,46.02,7,0,14.0,8.0,True,True
33486160,122566433,2017-07-18,54,2113914,8.0,True,CLEANING,3040,0,El Carmen,...,C,3,742.0,46.40,7,0,12.0,35.0,True,True

In [26]:
df_test

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,city,...,type_x,cluster,transactions,dcoilwtico,month,is_weekend,sale_lag_1,sale_lag_7,promo_lag_1,promo_lag_7
33824384,122767612,2017-07-21,1,96995,3.0,False,GROCERY I,1093,0,Quito,...,D,13,1878.0,45.78,7,0,1.0,1.0,False,False
33931614,122869722,2017-07-22,1,96995,2.0,False,GROCERY I,1093,0,Quito,...,D,13,1333.0,46.21,7,1,3.0,1.0,False,False
34879313,123819696,2017-07-31,1,96995,2.0,False,GROCERY I,1093,0,Quito,...,D,13,1872.0,50.21,7,0,2.0,1.0,False,False
35095762,124035459,2017-08-02,1,96995,1.0,False,GROCERY I,1093,0,Quito,...,D,13,1892.0,49.60,8,0,2.0,1.0,False,False
35199724,124142866,2017-08-03,1,96995,2.0,False,GROCERY I,1093,0,Quito,...,D,13,1726.0,49.03,8,0,1.0,1.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35999135,125080181,2017-08-11,54,2116416,1.0,False,GROCERY I,1060,0,El Carmen,...,C,3,768.0,48.81,8,0,1.0,0.0,True,0
36103933,125185373,2017-08-12,54,2116416,1.0,False,GROCERY I,1060,0,El Carmen,...,C,3,903.0,47.59,8,1,1.0,1.0,False,False
36218061,125291477,2017-08-13,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,...,C,3,1054.0,47.59,8,1,1.0,4.0,False,False
36314415,125394227,2017-08-14,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,...,C,3,818.0,47.59,8,0,2.0,3.0,False,False
36485735,125497039,2017-08-15,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,...,C,3,802.0,47.57,8,0,2.0,1.0,False,False

In [28]:
df_train.to_csv(os.path.join(data_folder, "engineered_train.csv"), index=False)
df_validation.to_csv(os.path.join(data_folder, "engineered_validation.csv"), index=False)
df_test.to_csv(os.path.join(data_folder, "engineered_test.csv"), index=False)